
body {
    background-color: black;
}

.wd-rounded-corners{
    border-radius: 50px;

}

.wd-border-thin {
    border-width: 6px; }

.wd-border-solid {
    border-style: solid; }

.wd-padding-fat {
    padding: 10px;
}
.wd-bg-color-gray {
    background-color: dimgray;
    color: white
}

.wd-width-input{
    width: 70%;
}

.wd-padding-gear{
    float: right;
    padding-right: 12px;
}

.wd-padding-for-all{
    padding-left: 16px;
    padding-right: 16px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}




.wd-for-you {
    color: rgb(29 161 242);
    font-size: 15px;
}

.wd-links {
    color: rgb(110, 118, 125);
    font-size: 15px;
}

.wd-suggested {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-author-of-post {
    color: white;
    font-size: 16px;
}

.wd-bg-color-for-you {
    background-color: rgb(29 161 242);
    width: 60px;
    height: 1px;
}

.wd-padding-post-pic{
    float: right;

}

.wd-stuff {
    color: red;
}

.wd-border-settings {
    background-color: black;
    border-width: 5px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}


.flex-container {
    border-width: 2px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}
.flex-box {
    border: 5px black;
    margin: 5px;
    padding: 0px;
}

.flex-box-2 {
    background-color: black;
    color: white;
}

.flex-box-3 {
    background-color: black;
    color: darkgray;
}

